body {
  font-size: .7rem;
}
.screen {
  bottom: auto;
  left: 0;
  right: 0;
  width: auto;
}
#die {
  top: 0;
  height: 40%;
  -webkit-transform: scale(.3);
  transform: scale(.3);
}
  #die b {
    font-size: 10em;
  }
  #die-minus,
  #die-plus {
    position: absolute;
    top: 0;
    left: 50%;
    height: 40%;
    z-index: 100;
    width: 1em;
    margin-left: -.5em;
    font-size: 10em;
    line-height: 1;
    color: #ddd;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
  }
    #die-minus:before,
    #die-plus:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      width: 0;
    }
  #die-minus {
    margin-left: -1.5em;
  }
  #die-plus {
    margin-left: .5em;
    margin-top: .1em;
  }
  .read-only #die-minus,
  .read-only #die-plus {
    opacity: 0;
    pointer-events: none;
  }
#inits {
  left: 0;
  top: 40%;
  height: 60%;
  padding-left: .5em;
}
.read-only #inits ol {
  margin-top: -63px;
}

  #parties {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px;
    padding: 10px;
    background: #ddd;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: none;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }